* html,
body {
    margin: 0;
    padding: 0;
   background-color: darksalmon;
}
header nav {
 text-transform: uppercase;
padding: 10px 0;
text-align: center;
font-size: x-large;
}

header nav a {
    margin: 0 10px;
}
span {
    color: rgb(65, 6, 85)
    }
    h1{
        text-align: center;
        margin: 50px 50px 50px 50px;
padding: 10px 10px 10px 10px;

    }



div > img {
    display: inline-block;
position: absolute;
    width: 100px;
    height: 100px;
 right: -10px;
  bottom: 0;
    
}
p{
    font-size: x-large;
    color: rgb(139, 13, 133);
text-align: center;
margin: 10px 10px 10px 10px;
padding: 10px 10px 10px 10px;

}
.submit  {
background-color: rgb(93, 209, 217);
color: rgb(139, 6, 139);
padding: 15px 30px;
margin: 4px 2px;
cursor: pointer;

}
#button{
    text-align: center;
}
#fname  {
   width: 20%;
    padding: 5px 10px;
    margin: 3px 0;
}
#lname  {
    width: 20%;
     padding: 5px 10px;
     margin: 8px 0;
 }
 #message  {
    width: 20%;
    height: 50px;
     padding: 5px 10px;
     margin: 8px 0;
 }
#input {
    text-align: center;
}


    header nav {
     text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-size: large;
    }
   
    
  @media only screen 
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-device-pixel-ratio: 2) {
    body {
        margin: 0;
        padding: 0;
       background-color: rgb(60, 226, 45);
    }
    header nav {
     text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-size: x-large;
    }
    
    header nav a {
        margin: 0 10px;
    }
    span {
        color: rgb(109, 63, 215)
        }
        h1{
            text-align: center;
            margin: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
    
        }
    
    
    
    div > img {
        display: inline-block;
    position: absolute;
        width: 100px;
        height: 100px;
     right: -10px;
      bottom: 0; 
         
    }
    p{
        font-size: x-large;
        color: rgb(231, 67, 67);
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
    }
    .submit  {
    background-color: rgb(217, 93, 93);
    color: rgb(39, 6, 139);
    padding: 15px 30px;
    margin: 4px 2px;
    cursor: pointer;
    
    }
    #button{
        text-align: center;
    }
    #fname  {
       width: 20%;
        padding: 5px 10px;
        margin: 3px 0;
    }
    #lname  {
        width: 20%;
         padding: 5px 10px;
         margin: 8px 0;
     }
     #message  {
        width: 20%;
        height: 50px;
         padding: 5px 10px;
         margin: 8px 0;
     }
    #input {
        text-align: center;
    }
    
    
        header nav {
         text-transform: uppercase;
        padding: 10px 0;
        text-align: center;
        font-size: large;
        }
  }
    
    
